main.main-stub-second
	.container
		.main-stub-second__left
			.main-stub-second__title Не нашли <br>свою аптеку?
			.main-stub-second__text Мы уже нашли
			.main-stub-second__logo
				img(src="./img/logo.png" alt="")
			a.main-stub-second__button(href="")
				img(src="./img/button.png" alt="")
		.main-stub-second__right
			img(src="./img/logo_right_second.png" alt="")
	.copyright Реклама ООО "ЛИНЦ" ИНН 3906115197 ОГРН 1033902826770 Юр. адрес: 236018, г. Калининград, ул. Белинского, д. 53
