main.main-stub
	.container
		.main-stub__left
			.main-stub__title Не нашли <br>свою аптеку?
			.main-stub__text Мы уже нашли
			.main-stub__logo
				img(src="./img/logo.png" alt="")
			a.main-stub__button(href="")
				img(src="./img/button.png" alt="")
		.main-stub__right
			img(src="./img/logo_right.png" alt="")
	.copyright Реклама ООО "ЛИНЦ" ИНН 3906115197 ОГРН 1033902826770 Юр. адрес: 236018, г. Калининград, ул. Белинского, д. 53
