// $fa-font-path: "../webfonts";
$font: 'Inter', sans-serif;
$responsible-width: 1920;
$responsible-mobile-width: 377;
$color-text-dark: #000000;

// $primary-color: #f8bbd0 !default;
// $accent-color

$color-bg: #7cb932;
$color-border: #e13471;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 767px;
